@media only screen and (max-width: 1200px) {
    .home {
        .home_img {
            right: 0;
            top: 20%;
            img {
                width: 600px;
            }
        }
    }
}

@media only screen and (max-width: 993px) {

    header {
        margin: 45px 0 30px 0;
        .header_center {
            display: none;
        }

        .header_left {
            width: 100%;
            text-align: center;
            flex-direction: column;
            gap: 10px;

            p {
                font-size: 12px;
                line-height: 145%;
            }
        }

        .header_right {
            display: none;
        }
    }

    .home {
        display: none;
    }

    .home_media {
        display: flex;
    }

    .cards {
        .card {
            width: calc(100% / 2 - 10px);
        }
    }

    .information {
        .information_card {
            width: calc(100% / 2 - 10px);
        }
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        margin-bottom: 149px;

        .cards_title {
            margin: 0 auto 40px auto;
            max-width: 262px;
            font-size: 22px;
            font-weight: 700;
            line-height: 130%;
            text-align: center;
        }

        .cards_in {
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .card {
            border-radius: 20px;
            width: calc(280px);

            .card_head {
                gap: 12px;

                span {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 145%;
                }
            }

            .card_logo {
                margin: 25px 0;
                padding: 0 14px 0 25px;
                gap: 20px;

                .logo {
                    padding: 6px;
                    flex-shrink: 0;

                    img {
                        width: 42px;
                        height: 42px;
                    }
                }
            }

            .logo_text {
                h6 {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 145%;
                }
    
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 145%;
                }

            }

            .card_block {
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 145%;
                }

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 145%;
                }
            }

            a {
                height: 59px;
            }

            .card_bottom_text {
                padding: 15px 0 25px 0;
                font-size: 12px;
                font-weight: 400;
                line-height: 145%;
            }

        }
    }

    .information {
        .information_card {
            width: calc(100%);
        }

        h3 {
            max-width: 280px;
            margin: 0 auto 15px auto;
        }

        .information_cards {
            gap: 30px;
            max-width: 280px;
            margin: 0 auto;
        }
    }

    footer {
        margin: 60px 0;
        h6 {
            max-width: 280px;
            margin: 0 auto;
        }
    }
}